body {
  background-color: #333;
}

* {
  font-family: 'Audiowide', cursive;
  color: #eee;
}

a {
  color: mediumspringgreen;
  text-decoration: none;
}

input, button, select {
  background-color: #666;
}
